Checks: '
    llvm-*,
    modernize-*,
    performance-*,
    clang-analyzer-*,
    bugprone-*,
    readability-*,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -llvm-include-order,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    -llvm-header-guard'

HeaderFilterRegex: 'include/*.h'
AnalyzeTemporaryDtors: false
FormatStyle: none
