// RUN: %theta-re "%S" > "%t" && cat "%t" && FileCheck "%s" < "%t"

// CHECK: Running re_fixptr_test
// CHECK: Verification SUCCESSFUL.
// CHECK: Running re_test_double_enter
// CHECK: Verification FAILED.
// CHECK: Running re_test_double_exit
// CHECK: Verification FAILED.
// CHECK: Running re_test_no_enter
// CHECK: Verification FAILED.
// CHECK: Running re_test_no_exit
// CHECK: Verification FAILED.
// CHECK: Running re_test_ok
// CHECK: Verification SUCCESSFUL.
// CHECK: Running re_test_ok_double
// CHECK: Verification SUCCESSFUL.
// CHECK: Running re_test_ok_empty
// CHECK: Verification SUCCESSFUL.
